@font-face {
  font-family: "Visby";
  src: url("assets/fonts/Visby-CF/Demo_Fonts/Fontspring-DEMO-visbycf-medium.otf");
}

body {
  font-family: Visby;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
  height: 90vh;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.nav-container {
  display: flex;
  position: absolute;
  top: 3%;
  width: 100%;
  height: 15%;
  background-color: transparent;
  justify-content: center;
}

nav {
  width: 92%;
  height: 70px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  display: none;
  width: 40px;
  height: 8px;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.logo {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

li {
  cursor: pointer;
  display: inline;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

.text-container {
  position: absolute;
  bottom: 12%;
  left: 3%;
  color: white;
  font-size: 34px;
  letter-spacing: 4px;
}

.upper-part {
  padding-top: 3%;
  background-color: white;
  color: black;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upper-part h1 {
  width: 100%;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
}

.grid-container {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 35px;
  justify-content: center;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 12px;
  padding: 1%;
}

.card:hover img {
  border-radius: 0px;
  width: 105%;
  height: auto;
  transition: 0.4s;
}

.card img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-height: 350px;
}

.action p {
  color: rgb(176, 143, 98);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Design for tab */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-bar {
    display: inline-block;
  }

  ul {
    display: none;
  }

  .logo {
    width: 40%;
  }

  .text-container {
    font-size: 30px;
  }

  .upper-part h1 {
    font-size: 40px;
  }
}

/* Design for mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 60vh;
  }
  .menu-bar {
    display: inline-block;
  }

  ul {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .text-container {
    bottom: 40%;
    left: 5%;
    font-size: 20px;
  }

  .upper-part h1 {
    font-size: 30px;
  }
}
